{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":68,"column":10},"end":{"row":68,"column":10},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":413,"mode":"ace/mode/text"}},"timestamp":1580242354211,"hash":"39d5f9fb38a6538d9331ec9883f79bf6c03c9fbd"}