{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":273.0625,"scrollleft":0,"selection":{"start":{"row":24,"column":6},"end":{"row":24,"column":11},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":14,"state":"start","mode":"ace/mode/text"}},"timestamp":1581535525479,"hash":"a6f0d8aeac0166b01678b6caf62530a2ad86be04"}