<div class="cover-container d-flex mx-auto flex-column">    


<!--NavBar with Burger Icon-->
{% block navbar %}
<header class="nav-container">
    <nav class="navbar navbar-expand-lg navbar-light mb-1 text-center fixed-top">
        <a class="navbar-brand" data-target="#modalPopUp" data-toggle="modal"><i class="fas fa-glasses" style="font-size:40px;color:orange;"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-0 mt-lg-0">

                {% if user.username == None %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('signup') }}"><b>Sign Up</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}"><b>Login</b></a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bio') }}"><b>Profile</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('all_reviews') }}"><b>Book Reviews</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}"><b>Logout</b></a>
                </li>
                {% endif %}


            </ul>
        </div>
    </nav>
</header>
{% endblock navbar %}
    {% extends 'base.html' %} {% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">

            <!-- <div class="col-md-12 text-center">
                <h1 class="add_header mt-3 mb-3">Edit Your Book Review</h1>
            </div> -->

            <div class="card card-signin my-5">
                <div class="card-body">
                    <h3 class="card-title text-center">Edit Your Book Review</h3>
                    <hr>

                    <form action="{{ url_for('edit_review', book_id=book._id) }}" method="POST">

                        <div class="form-group">
                            <i class="fas fa-book"></i>
                            <label for="inputBookTitle">Book Title</label>
                            <input id="book_title" name="book_title" type="text" value="{{ book.book_title }}" class="form-control" aria-describedby="bookTitle" placeholder="Enter Book Title" minlength="4" maxlength="40" required>
                            <small id="emailHelp" class="form-text text-muted">Make sure to add the full title </small>
                        </div>

                        <div class="form-group">
                            <label for="inputAuthor">Author</label>
                            <input id="book_author" name="book_author" value="{{ book.book_author }}" type="text" class="form-control" aria-describedby="bookTitle" placeholder="Enter the Author's Name" minlength="4" maxlength="35" required>
                        </div>

                        <div class="form-group">
                            <label for="InputCategory">Category</label>
                            <input id="category_name" name="category_name" value="{{ book.category_name }}" type="text" class="form-control" placeholder="Category" minlength="4" maxlength="35" required>
                        </div>

                        <div class="form-group">
                            <label for="Textarea">Provide a summary of the book</label>
                            <textarea id="summary" name="summary" class="form-control" rows="3" minlength="20" maxlength="350" required>{{book.summary}}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="pic">Book Cover Image Link</label>
                            <input id="pic" name="pic" type="text" class="form-control" placeholder="Link to an image of the cover of the book">
                        </div>

                        <div class="form-group">
                            <label for="amazon">Amazon Link</label>
                            <input id="amazon" name="amazon" type="text" class="form-control" placeholder="Link to book on amazon">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect2">How many stars do you give it (out of 5)?</label>
                            <select class="form-control" id="stars" value="{{ book.stars }}" name="stars">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                        </div>


                        <hr>


                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-sm">Add Your Updated Review</button>
                        </div>

                        <hr>
                        <div class="text-center">
                            <a class="btn btn-warning btn-sm" href="{{ url_for('all_reviews') }}" role="button">Cancel your update </a>
                        </div>
                        

                    </form>
                </div>
            </div>

        </div>
    </div>
    {% endblock %}
    
</div> <!-- COVER -->
