<div class="cover-container d-flex mx-auto flex-column">    


{% extends 'base.html' %}

<!--NavBar with Burger Icon-->
{% block navbar %}
<header class="nav-container">
    <nav class="navbar navbar-expand-lg navbar-light mb-1 text-center fixed-top">
        <a class="navbar-brand" data-target="#modalPopUp" data-toggle="modal"><i class="fas fa-glasses" style="font-size:40px;color:orange;"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-0 mt-lg-0">

                {% if user.username == None %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('signup') }}"><b>Sign Up</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}"><b>Login</b></a>
                </li>

                {% elif user.username == 'admin' %}

                <li class="nav-item">
                    <a class="nav-link" style="color:white;" href="{{ url_for('admin') }}"><b>Admin</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('all_comments') }}"><b>Internal Notes</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bio') }}"><b>Profile</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('all_reviews') }}"><b>Book Reviews</b></a>
                </li>

                <div>
                    <li class="nav-item">
                        <a class="nav-link" style="color:orange;" href="{{ url_for('logout') }}"><b>Logout</b></a>
                    </li>
                </div>

                {% else %}
                <a class="nav-link" style="color:white;" href="{{ url_for('review_page') }}"><b>Add Reviews</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bio') }}"><b>Profile</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('all_reviews') }}"><b>Book Reviews</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:orange;" href="{{ url_for('logout') }}"><b>Logout</b></a>
                </li>
                {% endif %}


            </ul>
        </div>
    </nav>
</header>
{% endblock navbar %} {% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">

        <!--  <div class="col-md-12 text-center">
            <h1 class="add_header mt-3 mb-3">Add A Book Review</h1>
        </div> -->

        <div class="card card-signin my-5">
            <div class="card-body">
                <h3 class="card-title text-center">Add A Book Review</h3>
                <hr>
                <form action="/add_review" method="POST">

                    <div class="form-group">
                        <i class="fas fa-book"></i>
                        <label for="inputBookTitle">Book Title</label>
                        <input id="book_title" name="book_title" type="text" class="form-control" aria-describedby="bookTitle" placeholder="Enter Book Title" minlength="4" maxlength="40" required>
                        <small id="emailHelp" class="form-text text-muted">Make sure to add the full title </small>
                    </div>

                    <div class="form-group">
                        <i class="fas fa-pencil-alt"></i>
                        <label for="inputAuthor">Author</label>
                        <input id="book_author" name="book_author" type="text" class="form-control" aria-describedby="bookTitle" placeholder="Enter the Author's Name" minlength="4" maxlength="35" required>
                    </div>

                    <div class="form-group">
                        <i class="fas fa-puzzle-piece"></i>
                        <label for="InputCategory">Category</label>
                        <input id="category_name" name="category_name" type="text" class="form-control" minlength="4" maxlength="35" placeholder="Category" required>
                    </div>

                    <div class="form-group">
                        <i class="fas fa-hiking"> </i>
                        <label for="Textarea">Provide a (bipartisan) summary of the book.</label>
                        <textarea id="summary" name="summary" class="form-control" rows="3" minlength="20" maxlength="350" required></textarea>
                    </div>

                    <div class="form-group">
                        <i class="far fa-image"></i>
                        <label for="pic">Book Cover Image Link</label>
                        <input id="pic" name="pic" type="text" class="form-control" placeholder="Link to an image address of the book cover">
                    </div>

                    <div class="form-group">
                        <i class="fab fa-amazon"></i>
                        <label for="amazon">Amazon Link</label>
                        <input id="amazon" name="amazon" type="text" class="form-control" placeholder="Link to book on amazon">
                    </div>

                    <div class="form-group">
                        <i class="far fa-star"></i>
                        <label for="exampleFormControlSelect2">How many stars do you give it (out of 5)?</label>
                        <select class="form-control" id="stars" name="stars" required>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}

</div> <!--COVER-->