<div class="cover-container d-flex mx-auto flex-column">    


{% extends 'base.html' %}

<!--NavBar with Burger Icon-->
{% block navbar %}
<header class="nav-container">
    <nav class="navbar navbar-expand-lg navbar-light mb-1 text-center fixed-top">
        <a class="navbar-brand" data-target="#modalPopUp" data-toggle="modal"><i class="fas fa-glasses" style="font-size:40px;color:orange;"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-0 mt-lg-0">

                {% if user.username == None %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('signup') }}"><b>Sign Up</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}"><b>Login</b></a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" style="color:white;" href="{{ url_for('admin') }}"><b>Admin</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('all_comments') }}"><b>Internal Notes</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bio') }}"><b>Profile</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('all_reviews') }}"><b>Book Reviews</b></a>
                </li>
                <div>
                    <li class="nav-item">
                        <a class="nav-link" style="color:orange;" href="{{ url_for('logout') }}"><b>Logout</b></a>
                    </li>
                </div>
                {% endif %}


            </ul>
        </div>
    </nav>
</header>
{% endblock navbar %} {% block content %}

<div class="container-fluid">

    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1 class="add_header mt-3 mb-3">Admin Internal Notes</h1>
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul class="flashes" style="padding-left: inherit;">
                {% for message in messages %}
                <p class="test-center" size="6" style="color: green" ;><strong>{{ message }}</strong></p>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %}
        </div>

        {% for comment in comments %}

        <div class="card" style="width: 18rem;">

            <div class="card-body">

                <h5 class="text-center card-title" style="color:green;"><strong><ins>{{comment.book_hook}}</ins></strong> </h5>

                <ul style="list-style-type:none;">


                    <li>

                        <div class="admin mt-2 mb-2"> <i>{{comment.user_comments}}</i> </div>
                    </li>
                    <li>
                        <strong>Added By:</strong> {{ comment.added_by["username"] }}

                    </li>

                </ul>

                <div class="card-footer">
                    {% if user.username == 'admin' %}

                    <div class='text-center'>
                        <a href="{{ url_for('delete_comments', admin_id=comment._id) }}" class="btn btn-outline-danger btn-sm">Delete</a>
                    </div>
                    {% endif %}
                </div>



            </div>
        </div>



        {% endfor %}



        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <h4 class="add_header mt-3 mb-3">More</h4>
                </div>
                <div class="paginate">
                    {% for page_number in pages %} {% if page_number == current_page %}

                    <a>{{ page_number }}</a> {% else %}

                    <a href="{{ url_for('all_comments', current_page=page_number) }}">{{ page_number }}</a> {% endif %} {% endfor %}
                </div>
            </div>
        </div>


        <hr>

        <div class="row">
            <div class="col-12">
                <div class="text-center" style="margin: 10px;">
                    <a href="{{ url_for('comment_form') }}" class="btn btn-outline-success">Add Another Note</a>
                </div>
            </div>



        </div>
    </div>
{% endblock %}

</div> <!--COVER-->