{% extends 'base.html' %}

<!--NavBar with Burger Icon-->
{% block navbar %}
<header class="nav-container">
    <nav class="navbar navbar-expand-lg navbar-light mb-1 text-center fixed-top">
        <a class="navbar-brand" href="{{ url_for('bio') }}" data-target="#modalPopUp" data-toggle="modal"><i class="fas fa-glasses" style="font-size:40px;color:orange;"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-0 mt-lg-0">

                {% if user.username == None %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('signup') }}"><b>Sign Up</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}"><b>Login</b></a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('all_reviews') }}"><b>Book Reviews</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bio') }}"><b>Profile</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:white;" href="{{ url_for('review_page') }}"><b>Add Reviews</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:orange;" href="{{ url_for('logout') }}"><b>Logout</b></a>
                </li>
                {% endif %}


            </ul>
        </div>
    </nav>
</header>
{% endblock navbar %} {% block content %}

<div class="container-fluid">

    <div class="row justify-content-center">

        <div class="col-md-12 text-center">
            <h1 class="add_header mt-3 mb-3"><strong>Book Reviews</strong></h1>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-center">
                

                {% for book in books %}
                <div class="card" style="width: 20rem;">
                    <!--<img class="card-img-top" src="..." alt="Card image cap"> -->
                    <div class="card-body">

                       <!-- <h5 class="text-center card-title">{{book.book_title}}</h5>
                        <hr> -->

                        <div><img class="book_image card-img-top mb-2" src="{{ book.pic }}" alt="Cover for {{ book.book_title }}"></div>
                        <hr>
                        
                        <h5 class="text-center card-title" ><b>Title:</b> <strong>{{book.book_title}}</strong></h5>
                        <hr>
                        
                        <ul>
                            
                            <li>
                                <b>Author:</b> {{book.book_author}}
                            </li>


                            <li>
                                <b>Stars:</b> {{book.stars}}
                            </li>

                          <!--  <li>
                                <a href="{{book.amazon}}"><b> Amazon Book Link <i class="fab fa-amazon" data-toggle="tooltip" title="click to to buy the book online"></i></b></a>
                            </li> -->
                            <li>
                                <b>Added By:</b> {{book.added_by["username"]}}
                            </li>

                        </ul>
                        <div class="text-center mt-2">
                            <a class="btn btn-light" href="{{ url_for('individual_reviews', book_id=book._id, _user=book._id) }}" >View book in more detail</a>
                        </div>


                    </div>
                </div>
                {% endfor %}

            </div>
        </div>


        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <h4 class="add_header mt-3 mb-3">more reviews</h4>
                </div>
                <div class="paginate">
                    {% for page_number in pages %} {% if page_number == current_page %}

                    <a>{{ page_number }}</a> {% else %}

                    <a href="{{ url_for('all_reviews', current_page=page_number) }}">{{ page_number }}</a> {% endif %} {% endfor %}
                </div>
            </div>
        </div>





    </div>

</div>

<hr>
<div class="row">
    <div class="col-12">
        <div class="text-center" style="margin: 10px;">
            <a class="btn btn-primary btn-lg" href="{{ url_for('review_page') }}" role="button">Add Book Review </a>
        </div>
    </div>
    
    <!--<div class="col-sm-6">
        <div class="text-center" style="margin: 10px;">
            <a class="btn btn-success btn-lg" href="{{ url_for('bio') }}" role="button">Your Profile</a>
        </div>
    </div> -->
</div>

<!--
    <button type="button" id="logout-button"  href="{{ url_for('logout') }}" class=" btn btn-sm btn-warning text-center" role="button" data-toggle="tooltip" data-placement="top" title="Click here to logout" style=
    "color: #3d7a59;
    font-weight: 700;
    font-size: 17px;
    margin: 5px;
    padding: 10px;
    position: fixed;
    bottom: 35px;
    right: 8px;
    z-index: 1;
    opacity: 0.9;">Logout</button>
    
    <hr>
<div class="text-center">
    <a class="btn btn-danger btn-lg" href="{{ url_for('logout') }}" role="button">Logout</a>
</div>
    -->





{% endblock %}
