<!DOCTYPE html>
<html>

<head>
</head>

<body>

    {% extends 'base.html' %} {% block content %}
    <div class="col-md-12 text-center">
        <h1 class="add_header mt-3 mb-3">Book Reviews</h1>
    </div>
    <div>
        <h3><strong>Reviews</strong></h3>
        <ul>
            {% for book in books %}
            <li>
                Category: {{book.category_name}}
            </li>
            <li>
                Title: {{book.book_title}}
            </li>
            <li>
                Author: {{book.book_author}}
            </li>
            <li>
                Published: {{book.publish_date}}
            </li>
            <li>
                Stars: {{book.stars}}
            </li>
            <li>
                Available: {{book.is_available}}
            </li>
            <li>
                Added By: {{book.added_by.username}}
            </li>
        </ul>
    </div>

    {% endfor %}
    <div class="text-center">
        <a class="btn btn-danger btn-lg" href="{{ url_for('logout') }}" role="button">Logout! </a>
    </div>
    <hr>
    <div class="text-center">
        <a class="btn btn-primary btn-lg" href="{{ url_for('review_page') }}" role="button">Add a Book Review! </a>
    </div>

    {% endblock %}
</body>

</html>
