<div class="cover-container d-flex mx-auto flex-column">

<!-- MODAL EXAMPLE FORMERLY ON INDIVIDUAL BOOK BUT REMOVED -->

	{% extends 'base.html' %}

        <div class="row">
            <div class="col-12">
                <span>
                    <h4>COMMENTS </h4>
                    </span>
            </div>
        </div>

	<div class="row">
		<div class="col-12">
			{% for incomment in incomments %}
			<div class="card mb-2">
				<div class="card-body incomment-card">
					<h5 class="card-title">{{ incomment.added_by["username"] }} said:</h5>
					<p class="card-text text-center"> <i><strong> {{ incomment.individual }} </strong></i></p>



					{% if user.username == incomment.added_by["username"] %}

					<hr>

					<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
					<div id="demo" class="collapse in">
						<form action="{{ url_for('update_individual', indivd_id=incomment._id, book_id=book._id) }}"
							method="POST" class="update_individual">
							<textarea maxlength="70" cols="40" rows="4" name="individual" placeholder="{{ incomment.individual }}"></textarea>
							<input class="btn btn-outline-success btn-sm" type="submit" value="Update" />
                                            </form>

					</div>

					<div class="row">
						<div class="col-sm-6">
							<a href="{{ url_for('delete_individual', indivd_id=incomment._id, book_id=book._id) }}"
								class="btn btn-danger btn-sm card-link mb-2">Delete</a>
						</div>



						<!-- Button trigger modal -->
						<div class="col-sm-6">
							<button type="button" class="btn btn-warning btn-sm mb-2" data-toggle="modal" data-target="#exampleModalCenter">
                                              Edit 
                                            </button>
						</div>
					</div>

					<!-- Modal -->
					<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle">Edit Your Comment
										{{ incomment.added_by["username"] }}</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
								</div>
								<div class="modal-body">

									<form
										action="{{ url_for('update_individual', indivd_id=incomment._id, book_id=book._id) }}"
										method="POST" class="update_individual">
										<textarea maxlength="70" cols="40" rows="4" name="individual" placeholder="{{ incomment.individual }}"></textarea>

								</div>
								<div class="modal-footer">

									<input class="btn btn-outline-success btn-sm" type="submit" value="Update" />
                                                </form>

									<button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Cancel</button>

								</div>
							</div>
						</div>
					</div>

					{% elif user.username == 'admin' %}

					<hr>
					<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Edit collapsible</button>
					<div id="demo" class="collapse in">
						<form action="{{ url_for('update_individual', indivd_id=incomment._id, book_id=book._id) }}"
							method="POST" class="update_individual">
							<textarea maxlength="70" cols="40" rows="4" name="individual" placeholder="{{ incomment.individual }}"></textarea>
							<input class="btn btn-outline-success btn-sm" type="submit" value="Update" />
                                            </form>

					</div>

					<div class="row">
						<div class="col-sm-6">
							<a href="{{ url_for('delete_individual', indivd_id=incomment._id, book_id=book._id) }}"
								class="btn btn-danger btn-sm card-link mb-2">Delete</a>
						</div>
						<!-- Button trigger modal -->
						<div class="col-sm-6">
							<button type="button" class="btn btn-warning btn-sm mb-2" data-toggle="modal" data-target="#exampleModalCenter">
                                              Edit 
                                            </button>
						</div>
					</div>

					<!-- Modal -->
					<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle">Edit Your Comment
										{{ incomment.added_by["username"] }}</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
								</div>
								<div class="modal-body">

									<form
										action="{{ url_for('update_individual', indivd_id=incomment._id, book_id=book._id) }}"
										method="POST" class="update_individual">
										<textarea maxlength="70" cols="40" rows="4" name="individual" placeholder="{{ incomment.individual }}"></textarea>

								</div>
								<div class="modal-footer">

									<input class="btn btn-outline-success btn-sm" type="submit" value="Update" />
                                                    </form>

									<button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Cancel</button>

								</div>
							</div>
						</div>
					</div>

					{% endif %}

				</div>
			</div>
			{% endfor %}
		</div>
	</div>



</div>
</div>
</div>
</div>




{% endblock %}

</div>
<!-- COVER-->