<!DOCTYPE html>
<html>

<head>
</head>

<body>
    {% extends 'base.html' %} {% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-md-12 text-center">
                <h1 class="add_header mt-3 mb-3">Add A Book Review</h1>
            </div>

            <hr>

            <form action="{{ url_for('add_review') }}" method="POST" >
                
                <div class="form-group">
                    <label for="inputBookTitle">Book Title</label>

                    <input id="book_title" name="book_title" type="text" class="form-control" aria-describedby="bookTitle" placeholder="Enter Book Title">
                    <small id="emailHelp" class="form-text text-muted">Make sure to add the full title </small>
                </div>
                <div class="form-group">
                    <label for="inputAuthor">Author</label>
                    <input id="book_author" name="book_author" type="text" class="form-control" aria-describedby="bookTitle" placeholder="Enter the Author's Name">
                </div>
                <div class="form-group">
                    <label for="InputCategory">Category</label>
                    <input id="category_name" name="category_name" type="text" class="form-control" placeholder="Category">
                </div>

                <!-- datepicker -->

                <div class="form-group">
                    <label for="date-input">Publication Date</label>
                    <input id="publish_date" name="publish_date" class="form-control" type="date" value="2011-08-19">
                </div>

                <div class="form-group">
                    <label for="Textarea">Provide a summary of the book</label>
                    <textarea id="summary" name="summary" class="form-control" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect2">How many stars do you give it (out of 5)?</label>
                    <select multiple class="form-control" id="stars" name="stars">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>

                <!-- 
                <div class="form-group">
                    <label for="InputCategory">Added By</label>
                    <input id="added_by" name="added_by" type="text" class="form-control" placeholder="what's your username?">
                </div>

               
                <div class="form-group">
                    <label for="exampleFormControlFile1">Example file input</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
                -->

                <hr>
                <div class="form-check">
                    <input id="is_available" name="is_available" type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="exampleCheck1">Is Book Available?</label>
                </div>

                <hr>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Add Review</button>
                </div>

            </form>

        </div>
    </div>

    {% endblock %}

</body>

</html>
